.footer {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__list {
    margin-right: 70px;
  }

  &__list:nth-child(2) {
    margin-right: 93px;
  }

  &__list:nth-last-child(-n + 1) {
    margin-right: 0;
  }

  &__street {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }

  &__link {
    margin-top: 9px;

    color: var(--inf-word-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
    transition: color var(--timing-function);
  }

  &__link:focus,
  &__link:hover {
    color: var(--accent-color);
  }

  &__logo--color {
    color: var(--white-color);
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.14;
  }
}
