.header {
  background: var(--white-color);
  border-bottom: 1px solid #ececec;
  width: auto;

  &__container {
    display: flex;
    align-items: center;
  }

  &__navigator {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__logo--color {
    color: black;
  }
}
